* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
html {
    width: 100%;
    font-family: "Rubik", Tahoma, sans-serif;
    font-size: 16px;
    background: #f6f6f6;
    font-weight: 400;
    color: #0b132a;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/* --------------------------------top-header------------------------------------ */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-top: 50px;
}

.header__logo {
    display: flex;
    font-size: 20px;
    align-items: center;
}

.header__logo-img {
    margin-right: 10px;
    width: 35px;
    height: 37px;
}

.header__logo-title {
    font-weight: 500;
}

.navigation {
    font-size: 16px;
    font-weight: 400;
}

.header__navigation-main {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
    padding: 0 20px;
}

.header__navigation-main-item {
    margin-right: 30px;
    list-style: none;
}

.header__navigation-main-item-link {
    text-decoration: none;
    list-style: none;
    color: #4f5665;
}

.login {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__login-log {
    margin-left: 20px;
}

.header__login-log-link {
    color: #0b132a;
    text-decoration: none;
    list-style: none;
    font-weight: 500;
}

.header__login-log-btn {
    background: #f6f6f6;
    color: #f53855;
    font-size: 16px;
    font-weight: 500;
    border: 1px solid #f53855;
    cursor: pointer;
    width: 150px;
    min-height: 45px;
    border-radius: 50px;
    outline: none;
}

/* ------------------------------middle-header---------------------------- */

.subheader {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 0 auto;
    padding-top: 120px;
    min-height: 60px;
}

.subheader__text {
    width: 47%;
}

.subheader__text-title {
    font-size: 50px;
    line-height: 70px;
    font-weight: 500;
}

.subheader__text-subtitle {
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    padding-top: 20px;
}

.subheader__text-button-btn {
    background: #f53838;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    width: 250px;
    min-height: 60px;
    border-radius: 10px;
    outline: none;
    margin-top: 50px;
    border: none;
}

.subheader__text-btn:hover {
    background: #ffffff;
    color: #f53838;
    border: 2px solid #f53838;
}

.subheader__pic {
    width: 47%;
}
.subheader__pic-img {
    width: 100%;
}

/* ----------------------------/ bottom header/----------------------------- */

.menu {
    min-height: 200px;
    background: #ffffff;
    margin: 0 auto;
    margin-top: 105px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

.menu__block {
    display: flex;
    align-items: center;
}

.menu__block-text {
    text-align: center;
    margin-left: 36.5px;
    line-height: 28px;
    font-size: 20px;
}

.border-l-r {
    border-left: 2px solid #dedede;
    border-right: 2px solid #dedede;
    padding: 0px 10%;
}

.font25 {
    font-size: 25px;
    font-weight: 400;
}

/* ---------------------------------main-------------------------------- */

.main__intro {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 95px;
}

.main__intro-pic {
    width: 47%;
    margin-right: 5%;
}

.main__intro-pic-img {
    width: 100%;
}

.main__intro-text {
    width: 47%;
    text-align: left;
    margin-top: 40px;
}

.main__intro-text-title {
    font-size: 35px;
    line-height: 50px;
    font-weight: 500;
}

.main__intro-text-subtitle {
    margin-top: 20px;
    font-size: 16px;
    line-height: 30px;
    text-align: left;
}

.main__intro-menu {
    padding-left: 0;
}

.main__intro-menu-item {
    list-style: none;
    line-height: 30px;
    margin-top: 20px;
}

.main__intro-menu-item-mark {
    margin-right: 12px;
    position: relative;
    top: 5px;
}

/* ------------------------------main plan-------------------------------- */

.plan {
    margin-top: 212px;
}

.plan__header {
    text-align: center;
}

.plan__header-title {
    font-size: 35px;
    font-weight: 500;
}

.plan__header-subtitle {
    margin-top: 15px;
}

.plan__card {
    margin: 0 auto;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.plan__card-box-col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plan__card-box-col-img {
    margin-top: 80px;
}

.plan__card-box-col-title {
    margin-top: 30px;
    font-size: 18px;
    font-weight: 500;
}

.plan__card-box-col-nav {
    margin: 30px auto;
    line-height: 42px;
    height: 265px;
}

.plan__card-box-col-item {
    list-style: none;
    text-align: left;
    font-size: 14px;
    color: #4f5665;
}

.plan__card-box-col-ico {
    margin-right: 20px;
}

.plan__card-box {
    width: 28%;
    background: #ffffff;
    border: 2px solid #dddddd;
    border-radius: 10px;
    min-height: 750px;
}

.plan__card-box:hover {
    border: 2px solid #f53838;
}

.plan__card-box-col-price {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plan__card-box-col-price-cost {
    font-size: 25px;
    font-weight: 500;
}

.plan__card-box-col-price-btn {
    margin-top: 20px;
    background: #ffffff;
    color: #f53838;
    font-size: 16px;
    font-weight: 700;
    border: 2px solid #f53838;
    cursor: pointer;
    width: 177px;
    min-height: 45px;
    border-radius: 50px;
    outline: none;
}

.plan__card-box-col-price-btn:hover {
    background: #f53838;
    color: #ffffff;
}
/* -----------------------------------/global map/----------------------------- */

.global {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.global__map {
    text-align: center;
    margin-top: 150px;
}

.global__map-title {
    font-size: 35px;
    font-weight: 500;
}

.global__map-subtitle {
    margin-top: 20px;
    font-size: 16px;
    font-weight: 400;
}

.global__map-img {
    margin: 155px auto;
    width: 95%;
}

.global__map-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.global__map-group-img {
    margin-right: 1%;
}

.global__map-group-img-item {
    width: 100%;
    height: 60px;
}

.cut-img {
    object-fit: cover;
    width: 190px;
}

/* -------------------------------/happy-customers/-------------------------------- */

.client {
    margin-top: 125px;
}

.client__text {
    text-align: center;
}

.client__text-title {
    font-size: 35px;
    font-weight: 500;
    line-height: 50px;
}

.client__text-subtitle {
    margin-top: 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}

.client__block {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 60px;
}

.client__block-col {
    width: 33%;
    min-height: 230px;
    border: 2px solid #dddddd;
    border-radius: 10px;
    margin-right: 20px;
    padding: 30px;
    background: #fff;
}

.client__block-col:last-child {
    margin-right: 0;
}

.client__block-col:hover {
    border: 2px solid #f53838;
}

.client__block-col-name {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.client__block-item {
    display: flex;
    align-items: center;
}

.client__block-item-img {
    width: 50px;
    height: 51px;
    margin-right: 20px;
}

.client__block-item-text {
    float: right;
}

.block__name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.client__block-rate {
    width: 50px;
    min-height: 16px;
}

.client__block-rate-img {
    margin: 0px auto -2px 10px;
}

.client__block-comm {
    margin-top: 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color: #0b132a;
}

.client__block-item-text-name {
    font-size: 18px;
    font-weight: 500;
}

.client__block-item-text-city {
    font-size: 14px;
    font-weight: 400;
}

/* ----------------------/slider/-------------------- */

.slider__vector {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
}

.slider {
    display: inline-block;
    margin-top: 82.5px;
}

.slider__img {
    margin-right: 15px;
}

.vector {
    margin-top: 81.5px;
    float: right;
    display: inline-flex;
    position: relative;
}

.vector__left {
    margin-right: 40px;
    width: 60px;
    min-height: 60px;
}

.vector__left-img {
    text-align: center;
}

.vector__right {
    width: 60px;
    min-height: 60px;
}

.vector__right-img {
    text-align: center;
    transform: scale(-1, 1);
}

/* -----------------------/subscribe us/--------------------- */

.sub {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    min-height: 233px;
    border-radius: 10px;
    background: #ffffff;
    margin: 95px auto 0 auto;
}

.sub__text {
    text-align: center;
}

.sub__text-title {
    font-size: 35px;
    font-weight: 500;
    line-height: 45px;
}

.sub__text-subtitle {
    margin-top: 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}

.sub__text-link-btn {
    background: #f53838;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    width: 250px;
    min-height: 60px;
    border-radius: 10px;
    outline: none;
    border: none;
}

/* ----------------------------/footer/------------------------- */

.footer {
    background: #f6f6f6;
    margin: 0 auto;
}

.footer__ {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
}

.footer__block {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.footer__block-social-logo {
    display: flex;
    align-items: center;
}

.footer__block-social-logo-title {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 20px;
    font-weight: 500;
}

.footer__block-social-logo-title-span {
    font-weight: 700;
    font-size: 20px;
}

.footer__block-social-subtitle {
    margin-top: 20px;
    font-size: 16px;
    font-weight: 400;
    color: #4f5665;
}

.footer__block-social-subtitle-span {
    font-weight: 500;
    font-size: 16px;
}

.footer__block-social {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 30px;
    padding-left: 20px;
}

.footer__block-socials {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.footer__block-social-img {
    width: 70px;
    height: 71px;
}

.footer__block-copy {
    margin-bottom: 10px;
    padding-left: 15px;
}

.footer__block-copy-text {
    font-size: 14px;
    font-weight: 400;
    color: #afb5c0;
}

.footer__block-copy-text span {
    font-weight: 500;
    font-size: 14px;
    color: #afb5c0;
}

.footer__block-cols {
    width: 50%;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 10px;
}

.footer__block-cols-item {
    width: 33%;
    margin-right: 30px;
}

.footer__block-cols-item:last-child {
    margin-right: 0;
}

.footer__block-cols-item:first-child {
    padding-left: 45px;
}

.footer__block-item {
    list-style: none;
    margin-top: 10px;
}

.footer__block-item-link {
    text-decoration: none;
    color: #4f5665;
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
}

.footer__block-cols-item-name {
    font-size: 18px;
    font-weight: 500;
}

.blocks nav {
    margin-top: 20px;
}

/* -----------------------/media/--------------------- */

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    .container {
        max-width: 970px;
    }

    .header__navigation {
        display: none;
    }

    .sub__text-link-btn {
        font-size: 18px;
    }

    .br-none {
        display: none;
    }

    .menu {
        padding: 0 20px;
    }

    .plan {
        padding: 0 20px;
    }

    .global__map-group {
        padding: 0 20px;
    }

    .client__block {
        padding: 0 15px;
    }
    .border-l-r {
        border-right: none;
        border-left: none;
    }
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
    .container {
        max-width: 670px;
    }
    .header__navigation {
        display: none;
    }

    .subheader {
        flex-direction: column;
        align-items: center;
        padding-top: 80px;
    }

    .subheader__text {
        width: 100%;
    }

    .subheader__text-title {
        text-align: center;
    }

    .subheader__text-subtitle {
        text-align: center;
    }

    .subheader__text-button {
        display: flex;
        justify-content: center;
    }

    .subheader__pic {
        width: 100%;
        margin: 30px;
    }

    .br-none {
        display: none;
    }

    .menu {
        padding: 0 20px;
        min-height: 170px;
    }

    .main__intro {
        flex-direction: column;
    }

    .main__intro-pic {
        width: 100%;
    }

    .main__intro-text {
        width: 100%;
    }

    .main__intro-text-title {
        text-align: center;
    }

    .main__intro-text-subtitle {
        text-align: center;
    }

    .main__intro-menu {
        text-align: center;
    }

    .plan {
        margin-top: 100px;
        padding: 0 20px;
    }

    .plan__card {
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
    }

    .plan__card-box {
        width: 50%;
        min-height: auto;
        margin-top: 15px;
    }

    .plan__card-box-col-img {
        margin-top: 50px;
    }

    .plan__card-box-col-nav {
        height: auto;
    }

    .plan__card-box-col-price {
        padding-bottom: 20px;
    }

    .global__map {
        margin-top: 90px;
    }

    .global__map-group {
        padding: 0 20px;
    }

    .global__map-img {
        margin: 60px auto;
    }

    .cut-img {
        width: 100%;
    }

    .client {
        margin-top: 80px;
    }

    .client__block {
        flex-direction: column;
        align-items: center;
        margin-top: 15px;
    }

    .client__block-col {
        margin-top: 15px;
        width: 65%;
        margin-right: 0;
    }

    .slider__vector {
        display: none;
    }

    .sub {
        width: 85%;
        border-radius: 80px;
        flex-direction: column;
        align-items: center;
    }

    .sub__text {
        margin: 30px 0 0 0;
    }

    .sub__text-link {
        margin: 20px 0px 20px 0;
    }

    .sub__text-link-btn {
        font-size: 18px;
    }

    .footer__ {
        flex-direction: column-reverse;
    }

    .footer__block {
        align-items: center;
    }

    .footer__block-social-logo {
        display: none;
    }

    .footer__block-cols {
        width: 100%;
        margin: 0 25px;
    }

    .border-l-r {
        border-right: none;
        border-left: none;
        padding: 0;
    }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    .container {
        max-width: 400px;
    }

    .header {
        flex-direction: column;
    }

    .header__login {
        margin-top: 20px;
    }

    .header__login-log-btn {
        background: #f53838;
        color: #f6f6f6;
        width: 130px;
        min-height: 40px;
    }

    .header__navigation {
        display: none;
    }

    .subheader {
        flex-direction: column;
        align-items: center;
        padding-top: 80px;
    }

    .subheader__text {
        width: 100%;
    }

    .subheader__text-title {
        text-align: center;
        font-size: 35px;
    }

    .subheader__text-subtitle {
        text-align: center;
        font-size: 14px;
    }

    .subheader__text-button {
        display: flex;
        justify-content: center;
    }

    .subheader__text-button-btn {
        font-size: 18px;
        font-weight: 500;
        width: 200px;
        min-height: 50px;
    }

    .subheader__pic {
        width: 100%;
        margin: 30px;
    }

    .br-none {
        display: none;
    }

    .border-l-r {
        border-right: none;
        border-left: none;
        padding: 0;
    }

    .menu {
        padding: 0;
        margin-top: 40px;
        width: 70%;
        min-height: auto;
        flex-direction: column;
    }

    .menu__block {
        padding: 30px;
        justify-content: space-between;
        width: 100%;
        border-bottom: 2px solid #dedede;
    }
    .menu__block:last-child {
        border-bottom: none;
    }

    .main__intro {
        margin-top: 50px;
        flex-direction: column;
    }

    .main__intro-pic {
        width: 100%;
    }

    .main__intro-text {
        width: 100%;
    }

    .main__intro-text-title {
        text-align: center;
        font-size: 30px;
    }

    .main__intro-text-subtitle {
        text-align: center;
        font-size: 14px;
    }

    .main__intro-menu {
        text-align: center;
        font-size: 14px;
    }

    .plan {
        margin-top: 50px;
        padding: 0 20px;
    }

    .plan__header-title {
        font-size: 30px;
    }

    .plan__header-subtitle {
        font-size: 14px;
    }

    .plan__card {
        flex-direction: column;
        align-items: center;
        margin-top: 0;
    }

    .plan__card-box {
        width: 80%;
        min-height: auto;
        margin-top: 15px;
    }

    .plan__card-box-col-img {
        margin-top: 30px;
    }

    .plan__card-box-col-nav {
        height: auto;
    }

    .plan__card-box-col-price {
        padding-bottom: 20px;
    }

    .plan__card-box-col-price-btn {
        margin-top: 10px;
        background: #f53838;
        color: #fff;
        width: 150px;
        min-height: 40px;
        font-weight: 500;
    }

    .global__map {
        margin-top: 50px;
    }

    .global__map-title {
        font-size: 30px;
    }

    .global__map-subtitle {
        font-size: 14px;
    }

    .global__map-img {
        margin: 0;
        margin-top: 40px;
        width: 100%;
    }

    .global__map-group {
        display: none;
    }

    .client {
        margin-top: 50px;
    }

    .client__text-title {
        font-size: 30px;
    }

    .client__text-subtitle {
        font-size: 14px;
    }

    .client__block {
        flex-direction: column;
        align-items: center;
        margin-top: 0;
    }

    .client__block-col {
        margin-top: 15px;
        width: 100%;
        margin-right: 0;
    }

    .client__block-item-text-name {
        font-size: 16px;
    }

    .client__block-comm {
        font-size: 14px;
    }

    .slider__vector {
        display: none;
    }

    .sub {
        width: 100%;
        border-radius: 80px;
        flex-direction: column;
        align-items: center;
    }

    .sub__text {
        margin: 30px 0 0 0;
    }

    .sub__text-title {
        font-size: 30px;
    }

    .sub__text-subtitle {
        font-size: 14px;
    }

    .sub__text-link {
        margin: 20px 0px 20px 0;
    }

    .sub__text-link-btn {
        font-size: 18px;
        width: 190px;
        min-height: 50px;
    }

    .footer__ {
        flex-direction: column-reverse;
    }

    .footer__block {
        align-items: center;
    }

    .footer__block-social-logo {
        display: none;
    }

    .footer__block-cols {
        width: 100%;
        margin: 0;
    }

    .footer__block-cols-item-name {
        font-size: 16px;
    }

    .footer__block-item-link {
        font-size: 14px;
    }

    .footer__block-social-subtitle {
        font-size: 14px;
        text-align: center;
    }

    .footer__block-copy-text {
        font-size: 12px;
    }

    .footer__block-cols-item:first-child {
        padding-left: 0;
    }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
    .container {
        max-width: 320px;
    }

    .subheader {
        padding-top: 50px;
    }

    .subheader__text-button-btn {
        margin-top: 20px;
    }

    .menu {
        margin-top: 20px;
        width: 80%;
    }

    .menu__block-text {
        margin-left: none;
    }

    .main__intro {
        margin-top: 30px;
    }

    .main__intro-text-subtitle {
        margin-top: 0;
    }

    .plan {
        padding: 0;
    }

    .plan__card-box {
        width: 90%;
    }

    .global__map {
        margin-top: 30px;
    }

    .global__map-img {
        margin-top: 20px;
    }

    .client {
        margin-top: 30px;
    }

    .client__block-col {
        padding: 15px;
    }

    .sub__text-title {
        font-size: 26px;
    }

    .sub__text-subtitle {
        font-size: 12px;
    }

    .footer__ {
        margin-top: 30px;
    }

    .footer__block-cols {
        display: none;
    }

    .footer__block-social {
        margin-top: 0;
        padding-left: 0;
    }
}
